**/node_modules
**/.next
**/.turbo
**/dist
**/build
**/coverage

.git
.gitignore

.env
.env.*
!.env.example

**/*.log
npm-debug.log*

.vscode
.idea
.DS_Store

**/__pycache__
**/*.pyc
**/.pytest_cache
**/.venv
**/venv
